*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;    
    -webkit-user-drag: none;
     -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
}

.aba{
    border-bottom: red solid 2px;
    background-color: aqua;
    height: 14cm;
    width: auto;
}

.degradeabatitle{
    width: auto;
    height: 3cm;
    background: linear-gradient(black,rgba(0, 0, 0, 0.945), aliceblue);

}

.conteudonumber1{
    
    width: auto;
    height: 15cm;
    background-color: aliceblue;
    display: flex;
}

.part1{
     
    width: 26cm;
    height: 15cm;
    background-color: aliceblue;
    
}
.part2{
  
    width: 15.6cm;
    height: 15cm;
    background-color: aliceblue;
    border-radius: 500px;
}


.minhaimagem {
  animation: aparecer 1s ease forwards;
}



.conteudonumber2{
    margin-top: 2cm;
    width: auto;
    height: 15cm;
    background-color: aliceblue;
    display: flex;
}

.conteudo2part1{
 
 width: 15.6cm;
 height: 15cm;
 background-color: aliceblue;
 
}

.conteudo2part2{

width: 26cm;
height: 15cm;
background-color: aliceblue;


}

.conteudonumber3{
    width: auto;
    height: 15cm;
    background-color: aliceblue;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    
    
}


.conteudo3conteudo1{
     padding: 0;
    margin: 0;
    display: flex;
    column-gap: 6cm;
    flex-direction: row;
    padding-bottom: 30px;
}


.conteudo3part1{
 
 border-radius: 25px;
 background-color: rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}

.conteudo3part2{
 
 border-radius: 25px;
 background-color: rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}

.conteudo3part3{
 
 border-radius: 25px;
 background-color: rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}


.conteudo3conteudo2{
    
 
    display: flex;
      column-gap: 6cm;
    flex-direction: row;
}


.conteudo3part4{
     
 border-radius: 25px;
 background-color: rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}

.conteudo3part5{

 border-radius: 25px;
 background-color: rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}

.conteudo3part6{
    
 border-radius: 25px;
 background-color:rgb(158, 164, 170);
 width: 8cm;
 height: 5cm;
}


.test1{
    padding: 0;
    margin: 0;
   
   
    width: 8cm;
    
    height: 3.5cm;
    border-radius: 25px;
    border-bottom: 20px solid rgb(0, 0, 0);
}
.test2{
 
    width: 8cm;
    height: 1.5cm;
    text-align: center;
    margin-top: 15px;
}

.espaço{
    height: 3cm;
    background: linear-gradient( aliceblue, black, black);
}

.rodape{
    width: auto;
    height: 8cm;
    border: 3px solid black;
    background-color: aqua;
}



.titleconteudonumber1{
 color: black;
 transition: transform 0.3s linear;
}

.titleconteudonumber1:hover{
    transform: scale(0.9);
}