*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;    
    -webkit-user-drag: none;
     -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
}

.aba{
    border-bottom: red solid 2px;
    background-color: aqua;
    height: 14cm;
    width: auto;
}

.degradeabatitle{
    width: auto;
    height: 3cm;
    background: linear-gradient(black,rgba(0, 0, 0, 0.945), aliceblue);

}

.conteudonumber1{
    
    width: auto;
    height: 15cm;
    background-color: aliceblue;
    display: flex;
}

.part1{
     
    width: 26cm;
    height: 15cm;
    background-color: aliceblue;
}
.part2{
    border: 3px solid purple;
    width: 15.6cm;
    height: 15cm;
    background-color: rgb(99, 170, 13);
    border-radius: 500px;
}